body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
header{
    background-color: #3865ae;
    text-shadow: black 1px 1px 2px;
    color: white;
    text-align: center;
    padding: 10px 0;
}